<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
library(tmap);library(rgdal);library(tidyverse)
WaterDataFull<-read.csv("WaterDataFull.csv")
 TOshapefile<-readOGR(dsn="Shapefiles/TCL3_ICITW.shp", layer="TCL3_ICITW")
  TOshapefile@data$SCODE_NAME<-as.integer(TOshapefile@data$SCODE_NAME)
  TOshapefile@data<-left_join(TOshapefile@data,filter(WaterDataFull,Year==2015), by=c("SCODE_NAME"="City.Ward"))
tm<-qtm(TOshapefile,"Average.Residential.Usage",text = "SCODE_NAME", text.size = .8, style="gray",
         fill.palette="YlGnBu",fill.style="fixed",fill.breaks=c(100,200,300,400,500,600))+
    tm_legend(text.size=1,
              title.size=1.2,
              position = c("left","top"), 
              height=.4, 
              hist.width=.2,
              hist.height=.2, 
              hist.bg.color="gray60", 
              hist.bg.alpha=.5)
tmap_leaflet(tm)
end.rcode-->

</body>
</html>
